* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calendar {
  padding: 20px;
}

.settingDate {
  padding: 5px 20px;
}

.head-dayName,
.calendar-content {
  display: flex;
  border: 1px solid red;
  width: 352px;
  flex-wrap: wrap;
}

.nameDayWeek,
.currentDay,
.prevDay,
.nextDay {
  flex: 0 0 50px;
  border: 1px solid #000;
  height: 50px;
  width: 50px;
  padding: 5px;
  font-size: 20px;
}

.prevDay,
.nextDay {
  color: cadetblue;
  font-size: 14px;
}